* {
  margin: 0;
  /* background-color: white; */
}
header {
  /* position: sticky; */
  /* top: 0; */
}
div {
  /* border: 1px solid rgb(218, 192, 81); */
}
.flex {
  display: flex;
}

/* header  */
.upre {
  display: flex;
  /* margin-left: -10px; */
  /* margin-top: -10px; */
  /* margin-right: -10px; */
  justify-content: space-between;
  background-color: #00171f;
  color: white;
  display: flex;
}
.loginsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  padding: 10px 20px;
}

.navButton:hover {
  background-color: #00a8e8;
}

.nav {
  background-color: #003459;
  display: flex;
  justify-content: space-evenly;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0;
  transition: 0.2s;
}

.nav a:hover {
  background-color: #00a8e8;
}
.nav-right {
  /* border: 1px solid red; */
  margin-left: 300px;
  display: flex;
}

/* language  */
.dropdown {
  position: relative;
  display: flex;
}
.dropbtn {
  background-color: #003459;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003459;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  right: 0;
  top: 60px;
}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #00a8e8;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* search bar*/
.search-bar {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  /* border: 1px solid #ccc; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
}
.search-bar button {
  width: 48px;
  height: 40px;
  background-color: #003459;
  border: none;
  margin-right: -130px;
}
.icon-pic {
  background-image: url("https://i.ibb.co/r6w8yBx/search-icon-free-vector.jpg");
  background-size: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* main */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row-reverse; */
}
.running-bar {
  font-size: 1.4em;
  font-family: "Libre Baskerville", serif;
  font-family: "Playpen Sans", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #00171f;
  color: #00171f;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes runText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(480%);
  }
}
.running-bar::before {
  content: "Grab Your Course Now !!";
  color: white;
  animation: runText 7s linear infinite;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
}

h1 {
  font-family: "Libre Baskerville", serif;
  margin: 1rem;
}

/* moderator  */
.moderator{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}
.moderator-panel{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}
.mod-panel-card{
    width: 260px;
    background-color: #f5f5f5;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    /* margin-bottom: 20px; */
}
.mod-panel-img img{
    width: 100%;
    background-size: cover;
}

